<div id="post-{{post_id}}" class="card mt-4 bg-info text-white post">
    <div class="card-header container">
        <div class="row align-items-center">
            <div class="col-md-6">{{post_title}}</div>
            <small class="col-md-4 ms-auto text-end">Posted By {{user}} on {{timestamp}}</small>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text text-black">{{post_text}}</p>
    </div>
    <a class="nav-link text-primary" href="../{{post_id}}">See Post Details</a>
</div>