{{> nav}}
<div class="container">
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">{{post.post_title}}
              </div>
              <small class="col-md-4 ms-auto text-end">Posted By {{post.user.username}} on {{post.createdAt}}</small>
            </div>
          </div>
          <div class="card-body">
            <p id="{{post.id}}" class="card-text text-black">{{post.post_text}}</p>
          </div>
        </div>
         {{#each post.comments as |comment|}}
            {{> commentCard}}
            {{/each}}
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Leave Comment
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <textarea type="input" class="form-control span4" id="input-comment"></textarea>
              </div>
              <button id="submit-comment" type="submit" class="btn btn-secondary" style="width:100%">Submit</button>
            </form>
          </div>
        </div>
      </div>
    <footer class="mt-5"></footer>
    <script src="/js/newCommentHandler.js"></script>